<h2>Popular goods</h2>
<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" (click)="exampleChange({weight: 0.65, cost: 749})">iPhone 7 (0.65kg) From $749</button>
    <button type="button" class="btn btn-default" (click)="exampleChange({weight: 1.1, cost: 499})">iPad Air 2 (1.1kg) From $499</button>
    <button type="button" class="btn btn-default" (click)="exampleChange({weight: 1.95, cost: 1129})">MacBook 12" (1.95kg) From $1129</button>
    <button type="button" class="btn btn-default" (click)="exampleChange({weight: 3.8, cost: 1299})">
        MacBook Pro 13.3" (3.8kg) From $1299
    </button>
</div>